    
    <div class="prose prose-xl ">

    I cannot help but be plagued by visions of the diversity in this _infernal night_. I find loud communal chants (from social media, on news channels, but somehow not yet near me), tears (of the countless mothers, sisters and lovers covered by media), wailing, forced words (because words convince) and other forms of impositions as bright flashes, flashes that are unfamiliar to me, but the internet has told me of them. 
    
    I am new to this kind of sleeplessness, I am young and was born after the blood bath of 2002. I only read about Babri in a brief passage in my Civics book and knew very little about L.K Advani's involvement. It is only on social media that I stumbled on videos of assault, searing images, and were my first exposure to this authoritarian world. I am a very priviliged individual to never having had to see these events with my own eyes, protected by my spatial, economic, caste priviliges

    This is an archive with an intent to document all forms of hate happening around us. This is sourced from reported news. The archive begins with borrowing from HindutvaWatch.org's archive of news.
</div>  
